body {
    padding-top: 5rem;
}

.grid-container {
    display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    background-color: #2196F3;
  }
  .grid-item {
    
    border: 1px hidden;
    padding: 5px;
  }
  
  .grid-item img{
    height: 200px;
  }