{% extends 'base.html' %}


{% block main %}
<h1 class="page-header">Images</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

<ul>
 {% for fils in files %}
 <div class=grid-container>
            <div class="grid-item ">{{ fils|safe }}</div>
            </div>
    {% endfor %}

</ul>
{% endblock %}